 #page-title{
     text-align: center;
 }

 #newrecette-form{
     text-align: center;
 }

 #registration_form{
     text-align: center;
 }

 #login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

#search-navbar{
    min-width: 20%;
}