{% extends 'cookbook/_base.html' %}
{% block titre %}Création de recettes{% endblock %}
{% block contenu %}

{% load static %}
<link rel="stylesheet" href="{% static 'app.css' %}">

    <div id="content">
        <!-- title -->
        <div id="page-title">
            <h1 class="title" >Ajouter une recette</span>
        </div>

        <form method="post" id='newrecette-form'action="{% url 'ajouter' %}" enctype="multipart/form-data">

                {{ MainForm.as_p }}
                {{ EtapeFormu.as_p }}
            <input type="submit" value="Ajouter"  class="btn btn-primary" />
        </form>


    </div>
{% endblock contenu%}