{% extends 'cookbook/_base.html' %}
{% block titre %}Création de recettes{% endblock %}
{% block contenu %}
    <div id="content">

        <!-- title -->
        <span class="title">Ajouter une recette</span>

        {% if success_message %}
        <h5><b style="color: green">Votre recette a bien été créée !</b></h5>
         {% endif %}
        <!-- ENDS title -->

        <form method="post" action="{% url 'ajouter' %}" enctype="multipart/form-data">
        {% csrf_token %}

                <h4>Recette :</h4>
                {{ MainForm.as_p }}

                <h4>Etapes de la recette :</h4>
                {{ EtapeFormu.as_p }}

            <input type="submit" value="OK" />
        </form>

    </div>
{% endblock %}